/*a:link{
	color:brown;
}
*/
a:active{
	color:yellow;
}
a:visited{
	color:green;
}
a:hover{
	color:pink;
	font-size:50px;
}
div{
	background-color:purple;
	height:50px;
	width:40px;
}
div:hover{
	background-color:black;
	height:100px;


}